# Taller NÃºmero 4 Kaggle Competition

In [114]:
import pandas as pd
import numpy as np

In [115]:
titanic = pd.read_csv("train.csv", 
                      dtype={"Age": np.float64}, )
test    = pd.read_csv("test.csv", 
                      dtype={"Age": np.float64}, )

In [116]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [117]:
titanic.shape,test.shape

((891, 12), (418, 11))

In [118]:
titanic = titanic.drop(['PassengerId','Name','Ticket','Cabin'], axis=1)
test = test.drop(['Name','Ticket','Cabin'], axis=1)

In [119]:
titanic.head()

   Survived  Pclass     Sex  Age  SibSp  Parch     Fare Embarked
0         0       3    male   22      1      0   7.2500        S
1         1       1  female   38      1      0  71.2833        C
2         1       3  female   26      0      0   7.9250        S
3         1       1  female   35      1      0  53.1000        S
4         0       3    male   35      0      0   8.0500        S

In [120]:
titanic.isnull().sum(),test.isnull().sum()

(Survived      0
 Pclass        0
 Sex           0
 Age         177
 SibSp         0
 Parch         0
 Fare          0
 Embarked      2
 dtype: int64, PassengerId     0
 Pclass          0
 Sex             0
 Age            86
 SibSp           0
 Parch           0
 Fare            1
 Embarked        0
 dtype: int64)

In [152]:
titanic.Embarked.mode(),titanic.Fare.mean()

(0    S
 dtype: object, 32.2042079685746)

In [122]:
titanic.Embarked.fillna('S', inplace=True),test.Fare.fillna(titanic.Fare.mean(), inplace=True)
titanic.isnull().sum(),test.isnull().sum()

(Survived      0
 Pclass        0
 Sex           0
 Age         177
 SibSp         0
 Parch         0
 Fare          0
 Embarked      0
 dtype: int64, PassengerId     0
 Pclass          0
 Sex             0
 Age            86
 SibSp           0
 Parch           0
 Fare            0
 Embarked        0
 dtype: int64)

In [123]:
titanic.Age.fillna(titanic.Age.mean(), inplace=True),test.Age.fillna(titanic.Age.mean(), inplace=True)
titanic.isnull().sum(),test.isnull().sum()

(Survived    0
 Pclass      0
 Sex         0
 Age         0
 SibSp       0
 Parch       0
 Fare        0
 Embarked    0
 dtype: int64, PassengerId    0
 Pclass         0
 Sex            0
 Age            0
 SibSp          0
 Parch          0
 Fare           0
 Embarked       0
 dtype: int64)

In [124]:
titanic['Sex_Female'] = titanic.Sex.map({'male':0, 'female':1})
test['Sex_Female'] = test.Sex.map({'male':0, 'female':1})

In [125]:
embarked_dummies = pd.get_dummies(titanic.Embarked, prefix='Embarked')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)

titanic = pd.concat([titanic, embarked_dummies], axis=1)
titanic.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_Female,Embarked_Q,Embarked_S
0,0,3,male,22,1,0,7.2500,S,0,0,1
1,1,1,female,38,1,0,71.2833,C,1,0,0
2,1,3,female,26,0,0,7.9250,S,1,0,1
3,1,1,female,35,1,0,53.1000,S,1,0,1
4,0,3,male,35,0,0,8.0500,S,0,0,1

In [126]:
embarked_dummies = pd.get_dummies(test.Embarked, prefix='Embarked')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)

test = pd.concat([test, embarked_dummies], axis=1)
test.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_Female,Embarked_Q,Embarked_S
0,892,3,male,34.5,0,0,7.8292,Q,0,1,0
1,893,3,female,47.0,1,0,7.0000,S,1,0,1
2,894,2,male,62.0,0,0,9.6875,Q,0,1,0
3,895,3,male,27.0,0,0,8.6625,S,0,0,1
4,896,3,female,22.0,1,1,12.2875,S,1,0,1

In [127]:
titanic['family']=titanic['SibSp']+titanic['Parch']
titanic.head(10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_Female,Embarked_Q,Embarked_S,family
0,0,3,male,22.000000,1,0,7.2500,S,0,0,1,1
1,1,1,female,38.000000,1,0,71.2833,C,1,0,0,1
2,1,3,female,26.000000,0,0,7.9250,S,1,0,1,0
3,1,1,female,35.000000,1,0,53.1000,S,1,0,1,1
4,0,3,male,35.000000,0,0,8.0500,S,0,0,1,0
5,0,3,male,29.699118,0,0,8.4583,Q,0,1,0,0
6,0,1,male,54.000000,0,0,51.8625,S,0,0,1,0
7,0,3,male,2.000000,3,1,21.0750,S,0,0,1,4
8,1,3,female,27.000000,0,2,11.1333,S,1,0,1,2
9,1,2,female,14.000000,1,0,30.0708,C,1,0,0,1

In [128]:
test['family']=test['SibSp']+test['Parch']
test.head(10)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_Female,Embarked_Q,Embarked_S,family
0,892,3,male,34.5,0,0,7.8292,Q,0,1,0,0
1,893,3,female,47.0,1,0,7.0000,S,1,0,1,1
2,894,2,male,62.0,0,0,9.6875,Q,0,1,0,0
3,895,3,male,27.0,0,0,8.6625,S,0,0,1,0
4,896,3,female,22.0,1,1,12.2875,S,1,0,1,2
5,897,3,male,14.0,0,0,9.2250,S,0,0,1,0
6,898,3,female,30.0,0,0,7.6292,Q,1,1,0,0
7,899,2,male,26.0,1,1,29.0000,S,0,0,1,2
8,900,3,female,18.0,0,0,7.2292,C,1,0,0,0
9,901,3,male,21.0,2,0,24.1500,S,0,0,1,2

In [129]:
titanic['Fare_cuad']=titanic['Fare']**2
titanic['inv_Age']=1/titanic['Age']
titanic.head(10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_Female,Embarked_Q,Embarked_S,family,Fare_cuad,inv_Age
0,0,3,male,22.000000,1,0,7.2500,S,0,0,1,1,52.562500,0.045455
1,1,1,female,38.000000,1,0,71.2833,C,1,0,0,1,5081.308859,0.026316
2,1,3,female,26.000000,0,0,7.9250,S,1,0,1,0,62.805625,0.038462
3,1,1,female,35.000000,1,0,53.1000,S,1,0,1,1,2819.610000,0.028571
4,0,3,male,35.000000,0,0,8.0500,S,0,0,1,0,64.802500,0.028571
5,0,3,male,29.699118,0,0,8.4583,Q,0,1,0,0,71.542839,0.033671
6,0,1,male,54.000000,0,0,51.8625,S,0,0,1,0,2689.718906,0.018519
7,0,3,male,2.000000,3,1,21.0750,S,0,0,1,4,444.155625,0.500000
8,1,3,female,27.000000,0,2,11.1333,S,1,0,1,2,123.950369,0.037037
9,1,2,female,14.000000,1,0,30.0708,C,1,0,0,1,904.253013,0.071429

In [130]:
test['Fare_cuad']=test['Fare']**2
test['inv_Age']=1/test['Age']
test.head(10)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_Female,Embarked_Q,Embarked_S,family,Fare_cuad,inv_Age
0,892,3,male,34.5,0,0,7.8292,Q,0,1,0,0,61.296373,0.028986
1,893,3,female,47.0,1,0,7.0000,S,1,0,1,1,49.000000,0.021277
2,894,2,male,62.0,0,0,9.6875,Q,0,1,0,0,93.847656,0.016129
3,895,3,male,27.0,0,0,8.6625,S,0,0,1,0,75.038906,0.037037
4,896,3,female,22.0,1,1,12.2875,S,1,0,1,2,150.982656,0.045455
5,897,3,male,14.0,0,0,9.2250,S,0,0,1,0,85.100625,0.071429
6,898,3,female,30.0,0,0,7.6292,Q,1,1,0,0,58.204693,0.033333
7,899,2,male,26.0,1,1,29.0000,S,0,0,1,2,841.000000,0.038462
8,900,3,female,18.0,0,0,7.2292,C,1,0,0,0,52.261333,0.055556
9,901,3,male,21.0,2,0,24.1500,S,0,0,1,2,583.222500,0.047619

In [131]:
per_80=np.percentile(titanic.Fare, 80)
per_80_2=np.percentile(test.Fare, 80)
print(per_80),print(per_80_2)

39.6875
46.34

(None, None)

In [132]:
filtro=(titanic['Fare'] > per_80) & (titanic['Pclass'] == 1)
filtro_test=(test['Fare'] > per_80_2) & (test['Pclass'] == 1)

In [133]:
titanic['Fare_Pclass_High'] = 0
test['Fare_Pclass_High'] = 0

In [134]:
titanic.loc[filtro,'Fare_Pclass_High'] = 1
test.loc[filtro_test,'Fare_Pclass_High'] = 1

In [135]:
filtro2=(titanic['Fare'] > per_80) & (titanic['Embarked'] == 'S')
titanic['Embarked_S_high'] = 0
titanic.loc[filtro2,'Embarked_S_high'] = 1

filtro2_test=(test['Fare'] > per_80_2) & (test['Embarked'] == 'S')
test['Embarked_S_high'] = 0
test.loc[filtro2_test,'Embarked_S_high'] = 1

In [136]:
filtro3=(titanic['Fare'] > per_80) & (titanic['Embarked'] == 'Q')
titanic['Embarked_Q_high'] = 0
titanic.loc[filtro3,'Embarked_Q_high'] = 1

filtro3_test=(test['Fare'] > per_80_2) & (test['Embarked'] == 'Q')
test['Embarked_Q_high'] = 0
test.loc[filtro3_test,'Embarked_Q_high'] = 1

In [137]:
filtro4=(titanic['Fare'] > per_80) & (titanic['Embarked'] == 'C')
titanic['Embarked_C_high'] = 0
titanic.loc[filtro4,'Embarked_C_high'] = 1

filtro4_test=(test['Fare'] > per_80_2) & (test['Embarked'] == 'C')
test['Embarked_C_high'] = 0
test.loc[filtro4_test,'Embarked_C_high'] = 1

In [138]:
filtro5=(titanic['Age'] > 50) & (titanic['Sex'] == 'female')
titanic['Age_Female_high'] = 0
titanic.loc[filtro5,'Age_Female_high'] = 1

filtro5_test=(test['Age'] > 50) & (test['Sex'] == 'female')
test['Age_Female_high'] = 0
test.loc[filtro5_test,'Age_Female_high'] = 1

In [139]:
filtro6=(titanic['Age'] > 50) & (titanic['Sex'] == 'male')
titanic['Age_male_high'] = 0
titanic.loc[filtro6,'Age_male_high'] = 1

filtro6_test=(test['Age'] > 50) & (test['Sex'] == 'male')
test['Age_male_high'] = 0
test.loc[filtro6_test,'Age_male_high'] = 1

In [140]:
filtro7=(titanic['Age'] < 15) & (titanic['Sex'] == 'female')
titanic['Age_female_low'] = 0
titanic.loc[filtro7,'Age_female_low'] = 1

filtro7_test=(test['Age'] < 15) & (test['Sex'] == 'female')
test['Age_female_low'] = 0
test.loc[filtro7_test,'Age_female_low'] = 1

In [141]:
filtro8=(titanic['Age'] < 15) & (titanic['Sex'] == 'male')
titanic['Age_male_low'] = 0
titanic.loc[filtro8,'Age_male_low'] = 1

filtro8_test=(test['Age'] < 15) & (test['Sex'] == 'male')
test['Age_male_low'] = 0
test.loc[filtro8_test,'Age_male_low'] = 1

In [142]:
titanic.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked', 'Sex_Female', 'Embarked_Q', 'Embarked_S', 'family',
       'Fare_cuad', 'inv_Age', 'Fare_Pclass_High', 'Embarked_S_high',
       'Embarked_Q_high', 'Embarked_C_high', 'Age_Female_high',
       'Age_male_high', 'Age_female_low', 'Age_male_low'],
      dtype='object')

In [143]:
titanic.head(100)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_Female,Embarked_Q,...,Fare_cuad,inv_Age,Fare_Pclass_High,Embarked_S_high,Embarked_Q_high,Embarked_C_high,Age_Female_high,Age_male_high,Age_female_low,Age_male_low
0,0,3,male,22.000000,1,0,7.2500,S,0,0,...,52.562500,0.045455,0,0,0,0,0,0,0,0
1,1,1,female,38.000000,1,0,71.2833,C,1,0,...,5081.308859,0.026316,1,0,0,1,0,0,0,0
2,1,3,female,26.000000,0,0,7.9250,S,1,0,...,62.805625,0.038462,0,0,0,0,0,0,0,0
3,1,1,female,35.000000,1,0,53.1000,S,1,0,...,2819.610000,0.028571,1,1,0,0,0,0,0,0
4,0,3,male,35.000000,0,0,8.0500,S,0,0,...,64.802500,0.028571,0,0,0,0,0,0,0,0
5,0,3,male,29.699118,0,0,8.4583,Q,0,1,...,71.542839,0.033671,0,0,0,0,0,0,0,0
6,0,1,male,54.000000,0,0,51.8625,S,0,0,...,2689.718906,0.018519,1,1,0,0,0,1,0,0
7,0,3,male,2.000000,3,1,21.0750,S,0,0,...,444.155625,0.500000,0,0,0,0,0,0,0,1
8,1,3,female,27.000000,0,2,11.1333,S,1,0,...,123.950369,0.037037,0,0,0,0,0,0,0,0
9,1,2,female,14.000000,1,0,30.0708,C,1,0,...,904.253013,0.071429,0,0,0,0,0,0,1,0
10,1,3,female,4.000000,1,1,16.7000,S,1,0,...,278.890000,0.250000,0,0,0,0,0,0,1,0
11,1,1,female,58.000000,0,0,26.5500,S,1,0,...,704.902500,0.017241,0,0,0,0,1,0,0,0
12,0,3,male,20.000000,0,0,8.0500,S,0,0,...,64.802500,0.050000,0,0,0,0,0,0,0,0
13,0,3,male,39.000000,1,5,31.2750,S,0,0,...,978.125625,0.025641,0,0,0,0,0,0,0,0
14,0,3,female,14.000000,0,0,7.8542,S,1,0,...,61.688458,0.071429,0,0,0,0,0,0,1,0
15,1,2,female,55.000000,0,0,16.0000,S,1,0,...,256.000000,0.018182,0,0,0,0,1,0,0,0
16,0,3,male,2.000000,4,1,29.1250,Q,0,1,...,848.265625,0.500000,0,0,0,0,0,0,0,1
17,1,2,male,29.699118,0,0,13.0000,S,0,0,...,169.000000,0.033671,0,0,0,0,0,0,0,0
18,0,3,female,31.000000,1,0,18.0000,S,1,0,...,324.000000,0.032258,0,0,0,0,0,0,0,0
19,1,3,female,29.699118,0,0,7.2250,C,1,0,...,52.200625,0.033671,0,0,0,0,0,0,0,0
20,0,2,male,35.000000,0,0,26.0000,S,0,0,...,676.000000,0.028571,0,0,0,0,0,0,0,0
21,1,2,male,34.000000,0,0,13.0000,S,0,0,...,169.000000,0.029412,0,0,0,0,0,0,0,0
22,1,3,female,15.000000,0,0,8.0292,Q,1,1,...,64.468053,0.066667,0,0,0,0,0,0,0,0
23,1,1,male,28.000000,0,0,35.5000,S,0,0,...,1260.250000,0.035714,0,0,0,0,0,0,0,0
24,0,3,female,8.000000,3,1,21.0750,S,1,0,...,444.155625,0.125000,0,0,0,0,0,0,1,0
25,1,3,female,38.000000,1,5,31.3875,S,1,0,...,985.175156,0.026316,0,0,0,0,0,0,0,0
26,0,3,male,29.699118,0,0,7.2250,C,0,0,...,52.200625,0.033671,0,0,0,0,0,0,0,0
27,0,1,male,19.000000,3,2,263.0000,S,0,0,...,69169.000000,0.052632,1,1,0,0,0,0,0,0
28,1,3,female,29.699118,0,0,7.8792,Q,1,1,...,62.081793,0.033671,0,0,0,0,0,0,0,0
29,0,3,male,29.699118,0,0,7.8958,S,0,0,...,62.343658,0.033671,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,0,2,male,32.000000,0,0,10.5000,S,0,0,...,110.250000,0.031250,0,0,0,0,0,0,0,0
71,0,3,female,16.000000,5,2,46.9000,S,1,0,...,2199.610000,0.062500,0,1,0,0,0,0,0,0
72,0,2,male,21.000000,0,0,73.5000,S,0,0,...,5402.250000,0.047619,0,1,0,0,0,0,0,0
73,0,3,male,26.000000,1,0,14.4542,C,0,0,...,208.923898,0.038462,0,0,0,0,0,0,0,0
74,1,3,male,32.000000,0,0,56.4958,S,0,0,...,3191.775418,0.031250,0,1,0,0,0,0,0,0
75,0,3,male,25.000000,0,0,7.6500,S,0,0,...,58.522500,0.040000,0,0,0,0,0,0,0,0
76,0,3,male,29.699118,0,0,7.8958,S,0,0,...,62.343658,0.033671,0,0,0,0,0,0,0,0
77,0,3,male,29.699118,0,0,8.0500,S,0,0,...,64.802500,0.033671,0,0,0,0,0,0,0,0
78,1,2,male,0.830000,0,2,29.0000,S,0,0,...,841.000000,1.204819,0,0,0,0,0,0,0,1
79,1,3,female,30.000000,0,0,12.4750,S,1,0,...,155.625625,0.033333,0,0,0,0,0,0,0,0
80,0,3,male,22.000000,0,0,9.0000,S,0,0,...,81.000000,0.045455,0,0,0,0,0,0,0,0
81,1,3,male,29.000000,0,0,9.5000,S,0,0,...,90.250000,0.034483,0,0,0,0,0,0,0,0
82,1,3,female,29.699118,0,0,7.7875,Q,1,1,...,60.645156,0.033671,0,0,0,0,0,0,0,0
83,0,1,male,28.000000,0,0,47.1000,S,0,0,...,2218.410000,0.035714,1,1,0,0,0,0,0,0
84,1,2,female,17.000000,0,0,10.5000,S,1,0,...,110.250000,0.058824,0,0,0,0,0,0,0,0
85,1,3,female,33.000000,3,0,15.8500,S,1,0,...,251.222500,0.030303,0,0,0,0,0,0,0,0
86,0,3,male,16.000000,1,3,34.3750,S,0,0,...,1181.640625,0.062500,0,0,0,0,0,0,0,0
87,0,3,male,29.699118,0,0,8.0500,S,0,0,...,64.802500,0.033671,0,0,0,0,0,0,0,0
88,1,1,female,23.000000,3,2,263.0000,S,1,0,...,69169.000000,0.043478,1,1,0,0,0,0,0,0
89,0,3,male,24.000000,0,0,8.0500,S,0,0,...,64.802500,0.041667,0,0,0,0,0,0,0,0
90,0,3,male,29.000000,0,0,8.0500,S,0,0,...,64.802500,0.034483,0,0,0,0,0,0,0,0
91,0,3,male,20.000000,0,0,7.8542,S,0,0,...,61.688458,0.050000,0,0,0,0,0,0,0,0
92,0,1,male,46.000000,1,0,61.1750,S,0,0,...,3742.380625,0.021739,1,1,0,0,0,0,0,0
93,0,3,male,26.000000,1,2,20.5750,S,0,0,...,423.330625,0.038462,0,0,0,0,0,0,0,0
94,0,3,male,59.000000,0,0,7.2500,S,0,0,...,52.562500,0.016949,0,0,0,0,0,1,0,0
95,0,3,male,29.699118,0,0,8.0500,S,0,0,...,64.802500,0.033671,0,0,0,0,0,0,0,0
96,0,1,male,71.000000,0,0,34.6542,C,0,0,...,1200.913578,0.014085,0,0,0,0,0,1,0,0
97,1,1,male,23.000000,0,1,63.3583,C,0,0,...,4014.274179,0.043478,1,0,0,1,0,0,0,0
98,1,2,female,34.000000,0,1,23.0000,S,1,0,...,529.000000,0.029412,0,0,0,0,0,0,0,0
99,0,2,male,34.000000,1,0,26.0000,S,0,0,...,676.000000,0.029412,0,0,0,0,0,0,0,0

In [144]:
test.head(100)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_Female,Embarked_Q,...,Fare_cuad,inv_Age,Fare_Pclass_High,Embarked_S_high,Embarked_Q_high,Embarked_C_high,Age_Female_high,Age_male_high,Age_female_low,Age_male_low
0,892,3,male,34.500000,0,0,7.8292,Q,0,1,...,61.296373,0.028986,0,0,0,0,0,0,0,0
1,893,3,female,47.000000,1,0,7.0000,S,1,0,...,49.000000,0.021277,0,0,0,0,0,0,0,0
2,894,2,male,62.000000,0,0,9.6875,Q,0,1,...,93.847656,0.016129,0,0,0,0,0,1,0,0
3,895,3,male,27.000000,0,0,8.6625,S,0,0,...,75.038906,0.037037,0,0,0,0,0,0,0,0
4,896,3,female,22.000000,1,1,12.2875,S,1,0,...,150.982656,0.045455,0,0,0,0,0,0,0,0
5,897,3,male,14.000000,0,0,9.2250,S,0,0,...,85.100625,0.071429,0,0,0,0,0,0,0,1
6,898,3,female,30.000000,0,0,7.6292,Q,1,1,...,58.204693,0.033333,0,0,0,0,0,0,0,0
7,899,2,male,26.000000,1,1,29.0000,S,0,0,...,841.000000,0.038462,0,0,0,0,0,0,0,0
8,900,3,female,18.000000,0,0,7.2292,C,1,0,...,52.261333,0.055556,0,0,0,0,0,0,0,0
9,901,3,male,21.000000,2,0,24.1500,S,0,0,...,583.222500,0.047619,0,0,0,0,0,0,0,0
10,902,3,male,29.699118,0,0,7.8958,S,0,0,...,62.343658,0.033671,0,0,0,0,0,0,0,0
11,903,1,male,46.000000,0,0,26.0000,S,0,0,...,676.000000,0.021739,0,0,0,0,0,0,0,0
12,904,1,female,23.000000,1,0,82.2667,S,1,0,...,6767.809929,0.043478,1,1,0,0,0,0,0,0
13,905,2,male,63.000000,1,0,26.0000,S,0,0,...,676.000000,0.015873,0,0,0,0,0,1,0,0
14,906,1,female,47.000000,1,0,61.1750,S,1,0,...,3742.380625,0.021277,1,1,0,0,0,0,0,0
15,907,2,female,24.000000,1,0,27.7208,C,1,0,...,768.442753,0.041667,0,0,0,0,0,0,0,0
16,908,2,male,35.000000,0,0,12.3500,Q,0,1,...,152.522500,0.028571,0,0,0,0,0,0,0,0
17,909,3,male,21.000000,0,0,7.2250,C,0,0,...,52.200625,0.047619,0,0,0,0,0,0,0,0
18,910,3,female,27.000000,1,0,7.9250,S,1,0,...,62.805625,0.037037,0,0,0,0,0,0,0,0
19,911,3,female,45.000000,0,0,7.2250,C,1,0,...,52.200625,0.022222,0,0,0,0,0,0,0,0
20,912,1,male,55.000000,1,0,59.4000,C,0,0,...,3528.360000,0.018182,1,0,0,1,0,1,0,0
21,913,3,male,9.000000,0,1,3.1708,S,0,0,...,10.053973,0.111111,0,0,0,0,0,0,0,1
22,914,1,female,29.699118,0,0,31.6833,S,1,0,...,1003.831499,0.033671,0,0,0,0,0,0,0,0
23,915,1,male,21.000000,0,1,61.3792,C,0,0,...,3767.406193,0.047619,1,0,0,1,0,0,0,0
24,916,1,female,48.000000,1,3,262.3750,C,1,0,...,68840.640625,0.020833,1,0,0,1,0,0,0,0
25,917,3,male,50.000000,1,0,14.5000,S,0,0,...,210.250000,0.020000,0,0,0,0,0,0,0,0
26,918,1,female,22.000000,0,1,61.9792,C,1,0,...,3841.421233,0.045455,1,0,0,1,0,0,0,0
27,919,3,male,22.500000,0,0,7.2250,C,0,0,...,52.200625,0.044444,0,0,0,0,0,0,0,0
28,920,1,male,41.000000,0,0,30.5000,S,0,0,...,930.250000,0.024390,0,0,0,0,0,0,0,0
29,921,3,male,29.699118,2,0,21.6792,C,0,0,...,469.987713,0.033671,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,962,3,female,24.000000,0,0,7.7500,Q,1,1,...,60.062500,0.041667,0,0,0,0,0,0,0,0
71,963,3,male,21.000000,0,0,7.8958,S,0,0,...,62.343658,0.047619,0,0,0,0,0,0,0,0
72,964,3,female,29.000000,0,0,7.9250,S,1,0,...,62.805625,0.034483,0,0,0,0,0,0,0,0
73,965,1,male,28.500000,0,0,27.7208,C,0,0,...,768.442753,0.035088,0,0,0,0,0,0,0,0
74,966,1,female,35.000000,0,0,211.5000,C,1,0,...,44732.250000,0.028571,1,0,0,1,0,0,0,0
75,967,1,male,32.500000,0,0,211.5000,C,0,0,...,44732.250000,0.030769,1,0,0,1,0,0,0,0
76,968,3,male,29.699118,0,0,8.0500,S,0,0,...,64.802500,0.033671,0,0,0,0,0,0,0,0
77,969,1,female,55.000000,2,0,25.7000,S,1,0,...,660.490000,0.018182,0,0,0,0,1,0,0,0
78,970,2,male,30.000000,0,0,13.0000,S,0,0,...,169.000000,0.033333,0,0,0,0,0,0,0,0
79,971,3,female,24.000000,0,0,7.7500,Q,1,1,...,60.062500,0.041667,0,0,0,0,0,0,0,0
80,972,3,male,6.000000,1,1,15.2458,C,0,0,...,232.434418,0.166667,0,0,0,0,0,0,0,1
81,973,1,male,67.000000,1,0,221.7792,S,0,0,...,49186.013553,0.014925,1,1,0,0,0,1,0,0
82,974,1,male,49.000000,0,0,26.0000,S,0,0,...,676.000000,0.020408,0,0,0,0,0,0,0,0
83,975,3,male,29.699118,0,0,7.8958,S,0,0,...,62.343658,0.033671,0,0,0,0,0,0,0,0
84,976,2,male,29.699118,0,0,10.7083,Q,0,1,...,114.667689,0.033671,0,0,0,0,0,0,0,0
85,977,3,male,29.699118,1,0,14.4542,C,0,0,...,208.923898,0.033671,0,0,0,0,0,0,0,0
86,978,3,female,27.000000,0,0,7.8792,Q,1,1,...,62.081793,0.037037,0,0,0,0,0,0,0,0
87,979,3,female,18.000000,0,0,8.0500,S,1,0,...,64.802500,0.055556,0,0,0,0,0,0,0,0
88,980,3,female,29.699118,0,0,7.7500,Q,1,1,...,60.062500,0.033671,0,0,0,0,0,0,0,0
89,981,2,male,2.000000,1,1,23.0000,S,0,0,...,529.000000,0.500000,0,0,0,0,0,0,0,1
90,982,3,female,22.000000,1,0,13.9000,S,1,0,...,193.210000,0.045455,0,0,0,0,0,0,0,0
91,983,3,male,29.699118,0,0,7.7750,S,0,0,...,60.450625,0.033671,0,0,0,0,0,0,0,0
92,984,1,female,27.000000,1,2,52.0000,S,1,0,...,2704.000000,0.037037,1,1,0,0,0,0,0,0
93,985,3,male,29.699118,0,0,8.0500,S,0,0,...,64.802500,0.033671,0,0,0,0,0,0,0,0
94,986,1,male,25.000000,0,0,26.0000,C,0,0,...,676.000000,0.040000,0,0,0,0,0,0,0,0
95,987,3,male,25.000000,0,0,7.7958,S,0,0,...,60.774498,0.040000,0,0,0,0,0,0,0,0
96,988,1,female,76.000000,1,0,78.8500,S,1,0,...,6217.322500,0.013158,1,1,0,0,1,0,0,0
97,989,3,male,29.000000,0,0,7.9250,S,0,0,...,62.805625,0.034483,0,0,0,0,0,0,0,0
98,990,3,female,20.000000,0,0,7.8542,S,1,0,...,61.688458,0.050000,0,0,0,0,0,0,0,0
99,991,3,male,33.000000,0,0,8.0500,S,0,0,...,64.802500,0.030303,0,0,0,0,0,0,0,0

In [145]:
feature_cols = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_Female', 'Embarked_Q', 'Embarked_S', 'family',
'Fare_cuad', 'inv_Age', 'Fare_Pclass_High', 'Embarked_S_high',
'Embarked_Q_high', 'Embarked_C_high', 'Age_Female_high',
'Age_male_high', 'Age_female_low', 'Age_male_low']
X_train = titanic[feature_cols]
Y_train = titanic.Survived
X_test = test[feature_cols]

In [146]:
from sklearn.feature_selection import SelectKBest
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LogisticRegression

selection_method = []
for i in range(1,23):
    logreg = LogisticRegression(C=1e9)
    selection_method = SelectKBest(k=i)
    selection_method.fit(X_train, Y_train)
    X_selection_method = selection_method.transform(X_train)
    print(i,pd.Series(cross_val_score(logreg, X_selection_method, Y_train, cv=10, scoring='accuracy')).mean())

1 0.7866981613891728
2 0.7866981613891728
3 0.7866981613891728
4 0.7822287481557145
5 0.7766357394166383
6 0.7766357394166383
7 0.7699066507774373
8 0.7788829304278744
9 0.784501191692203
10 0.7900939166950404
11 0.7912683009874021
12 0.7901566224038133
13 0.7980095902848713
14 0.7957751674043809
15 0.8070621949835435
16 0.8215693451367609
17 0.8138168198842358
18 0.8126052661445922
19 0.8114941550334809

ValueError: k should be >=0, <= n_features; got 20.Use k='all' to return all features.

In [ ]:
selection_method = SelectKBest(k=16)
selection_method.fit(X_train, Y_train)
X_selection_method = selection_method.transform(X_train)

In [148]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e9)
reg = logreg.fit(X_selection_method, Y_train)
reg.coef_

array([[ -1.05227690e+00,  -1.09052742e-02,  -5.03147247e-01,
         -2.41754638e-01,  -1.21086581e-03,   3.14496181e+00,
         -4.28894247e-01,   8.42576997e-06,   1.58886337e+00,
         -2.55091721e-01,   5.39213528e-01,   4.67781680e-01,
          6.83797329e-01,  -8.01401022e-01,  -3.90437904e-01,
          2.73108506e+00]])

In [150]:
# make predictions for testing set
X_selection_method = selection_method.transform(X_test)
y_pred_class = logreg.predict(X_selection_method)

In [151]:
submission = pd.DataFrame({'PassengerId': test['PassengerId'],
                            'Survived': y_pred_class })
submission.to_csv("titanic_submission_k8.csv", index=False)